from coinotomy.backend.csvbackend import CsvStorageBackend

# public key
BINANCE_API_KEY = ''

import coinotomy.watchers.wex
import coinotomy.watchers.bitfinex
import coinotomy.watchers.btcc
import coinotomy.watchers.cexio
import coinotomy.watchers.kraken
import coinotomy.watchers.poloniex
import coinotomy.watchers.yunbi
import coinotomy.watchers.yobit
import coinotomy.watchers.chbtc
import coinotomy.watchers.gdax
import coinotomy.watchers.hitbtc
import coinotomy.watchers.btcbox
import coinotomy.watchers.coincheck
import coinotomy.watchers.korbit
import coinotomy.watchers.coinone
import coinotomy.watchers.bitstamp
import coinotomy.watchers.coinfloor
import coinotomy.watchers.bl3p
import coinotomy.watchers.okcoin
import coinotomy.watchers.gemini
import coinotomy.watchers.bitmex

import os


# the storage class to use.
STORAGE_CLASS = CsvStorageBackend

# the directory where files should be stored
STORAGE_DIRECTORY = "coinotomy_data"
# create the dir on module load it doesn't exist yet
if not os.path.exists(STORAGE_DIRECTORY): os.mkdir(STORAGE_DIRECTORY)

# the watchers to use.
WATCHERS = (
    coinotomy.watchers.wex.watchers +
    coinotomy.watchers.bitfinex.watchers +
    coinotomy.watchers.btcc.watchers +
    coinotomy.watchers.cexio.watchers +
    coinotomy.watchers.kraken.watchers +
    coinotomy.watchers.poloniex.watchers +
    coinotomy.watchers.yunbi.watchers +
    coinotomy.watchers.yobit.watchers +
    coinotomy.watchers.chbtc.watchers +
    coinotomy.watchers.gdax.watchers +
    coinotomy.watchers.hitbtc.watchers +
    coinotomy.watchers.btcbox.watchers +
    coinotomy.watchers.coincheck.watchers +
    coinotomy.watchers.korbit.watchers +
    coinotomy.watchers.coinone.watchers +
    coinotomy.watchers.bitstamp.watchers +
    coinotomy.watchers.coinfloor.watchers +
    coinotomy.watchers.bl3p.watchers +
    coinotomy.watchers.okcoin.watchers +
    coinotomy.watchers.gemini.watchers +
    coinotomy.watchers.bitmex.watchers
)





